*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

./jni/cairo/acinclude.m4
./jni/cairo/AUTHORS
./jni/cairo/autogen.sh
./jni/cairo/BIBLIOGRAPHY
./jni/cairo/boilerplate
./jni/cairo/BUGS
./jni/cairo/build
./jni/cairo/cairo-version.h
./jni/cairo/CODING_STYLE
./jni/cairo/configure.ac
./jni/cairo/COPYING
./jni/cairo/COPYING-LGPL-2.1
./jni/cairo/COPYING-MPL-1.1
./jni/cairo/doc
./jni/cairo/HACKING
./jni/cairo/INSTALL
./jni/cairo/KNOWN_ISSUES
./jni/cairo/Makefile.am
./jni/cairo/Makefile.win32
./jni/cairo/NEWS
./jni/cairo/perf
./jni/cairo/PORTING_GUIDE
./jni/cairo/README
./jni/cairo/README.win32
./jni/cairo/RELEASING
./jni/cairo/util

